<!DOCTYPE html>
<html>
    <body>
        <p>Create a new wine:</p>
            <form action="#" method = "post">
                <label for="country_id">Country:</label>
                <select name="country_id">
                    {% for country in countries %}
                        <option value={{country.id}}>{{country.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="name">Name:</label>
                <input type="text" maxlength="100" name="name" required>
                <br>
                <label for="year">Year:</label>
                <input type="text" maxlength="100" name="year" required>
                <br>
                <label for="price">Price:</label>
                <input type="text" maxlength="100" name="price" required>
                <br>
                <label for="rating">Rating:</label>
                <input type="text" maxlength="100" name="rating" required>
                <br>
                <label for="description">Description:</label>
                <textarea maxlength="1000" name="description" 
                     cols="50" rows="6" required></textarea>
                <br>
                <button type="submit" class="btn btn-default" id="submit" type="submit">
                Create
                </button>
            </form>
    </body>
</html>